@{
    ViewData["Title"] = "Degreed Challenge";
}


<h1 style="margin-top:100px;">
    Welcome to the Degreed Challenge project!
</h1>
<h6 style="margin-top:50px;">Select <strong>Random</strong> in the top menu for a random joke every 10 seconds,</h6>
<h6>or select <strong>Search</strong> to search for jobs containing a keyword.</h6>

