
@{
    ViewData["Title"] = "Random";
}

<h6 id="message">A new joke in 10 seconds:</h6>

<div style="margin-top:200px;">
    <h3 id="randomJoke" />
</div>

<script>
    var _seconds = 10;

    window.onload = function () {
        GetJoke();
        setInterval(CheckTime, 1000);
    }

    function CheckTime() {
        _seconds = _seconds - 1;
        message = document.getElementById('message');
        message.innerHTML = "A new joke in " + _seconds + " seconds:";
        if (_seconds == 0) {
            GetJoke();
            _seconds = 10;
        }
        
    }

   function GetJoke() {
        var jokeSection = document.getElementById('randomJoke');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                var status = data["status"];
                if (status == 200) {
                    jokeSection.innerHTML = data["joke"];
                }
                else {
                    jokeSection.innerHTML = 'Error while getting joke :('
                }
            }
            else if(this.status == 500) {
                jokeSection.innerHTML = 'Error while getting joke :('
            } 
        };
        xhttp.open("GET", '@Url.Action("GetRandomJoke", "Home")', true);
        xhttp.send();
    }

</script>